@media screen and (max-width: 600px) {

    header div #one {
      font-size: 2.5rem;
    } 
}

@media screen and (min-width: 600px) {

  header div #one {
    font-size: 73px;
  } 
}
@media (min-width: 992px) {
  .masthead h1, .masthead .h1 {
    font-size: 5.5rem;
    font-size: 2.rem;
  }
}

